.nav-btn {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 20px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 34px;
    background: #FFF;
    box-shadow: 0px 4px 31.9px 0px rgba(126, 119, 142, 0.25);
    cursor: pointer;
    z-index: 30;
}

.nav-btn img {
    width: 6px;
    transition: all 0.36s;
}

.nav-btn.is_act img {
    transform: rotate(180deg);
}

.nav-servic.is_act {
    right: -260px;
    pointer-events: none;
}



.nav-servic {

    position: fixed;

    z-index: 30;

    top: 50%;

    transform: translateY(-50%);

    right: 40px;

    transition: all 0.36s;

}



.nsl-li-top {

    width: 70px;

    height: 70px;

    background: #fff;

    border-radius: 8px;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

    cursor: pointer;

    transition: all 0.36s;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

}



.nsl-li-top-icon {

    width: 20px;

    margin: 0 auto;

    margin-bottom: 5px;

}



.nsl-li-top p {

    color: #1965fd;

    line-height: 1.4;

    font-size: 14px;

    transition: all 0.36s;

}



.nsl-li {

    padding: 10px 0;

    position: relative;

}



.nsl-li-btm {

    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    padding-right: 30px;

    right: 70px;

    opacity: 0;

    pointer-events: none;

    transition: all 0.36s;

}



.nsl-li-btm-wrap {

    border-radius: 12px;

    background: #FFF;

    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);

    display: flex;

}



.nlbw-li {

    padding: 30px 38px;

    width: 300px;

    text-align: center;

    position: relative;

}



.nlbw-li::after {

    content: '';

    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    right: 0;

    width: 1px;

    height: 90%;

    background: #EEE;

}



.nlbw-wrap {

    width: 100%;

    position: relative;

}



.nlbw-wrap-tit p {

    font-size: 18px;

    line-height: 1.45;

    color: #3D3935;

}



.nlbw-wrap-tit {

    margin-bottom: 10px;

}



.nlbw-wrap-info p {

    color: #999;

    line-height: 1.45;

    font-size: 16px;

}



.nlbw-wrap-info {

    margin-bottom: 20px;

}



.nlbw-wrap-img {

    width: 144px;

    margin: 0 auto;

    margin-bottom: 8px;

}



.nlbw-wrap-img img {

    width: 100%;

}



.nlbw-wrap-sutit p {

    color: #999;

    line-height: 1.45;

    font-size: 16px;

}



.nlbw-wrap-sutit {

    margin-bottom: 20px;

}



.nlbw-wrap-btm p {

    color: var(--vicolor);

    line-height: 1.4;

    font-weight: bold;

    padding-left: 4px;

}



.nlbw-wrap-btm img {

    width: 20px;
    margin-bottom: 1rem;

}



.nlbw-wrap-btm {

    display: flex;

    justify-content: center;

    align-items: center;

}


/* 鼠标效果 */

.nsl-li:hover .nsl-li-btm {

    opacity: 1;

    pointer-events: all;

}


@media screen and (max-width: 1199px) {
    .nav-btn {
        display: none;
    }

    .nav-servic {
        display: none;
    }


}